/* You can add global styles to this file, and also import other style files */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
}

.img-outer{
    img{
        width: 100%;
    }
}

.red{
    color: red;
}

.link{
    cursor: pointer;
}